In [1]:
class MonthlyExpense:
    def __init__(self, month, expense):
        self.month = month
        self.expense = expense

    def __repr__(self):
        #return f'MonthlyExpense('{self.month}',{self.amount})'
        return f"MonthlyExpense('{self.month}',{self.expense})"

monthly_expense = [
    MonthlyExpense('January', 2200),
    MonthlyExpense('February', 2350),
    MonthlyExpense('March', 2600),
    MonthlyExpense('April', 2130),
    MonthlyExpense('May', 2190),
]

1. In Feb, how many dollars you spent extra compare to January?

In [2]:
jan_exp = next((expense.expense for expense in monthly_expense if expense.month == 'January'), None)
feb_exp = next((expense.expense for expense in monthly_expense if expense.month == 'February'), None)

if jan_exp is not None and feb_exp is not None:
    extra = feb_exp - jan_exp
    print(extra, 'dollars were spent in Feb compare to Jan')

150 dollars were spent in Feb compare to Jan

2. Find out your total expense in first quarter (first three months) of the year.

In [3]:
first_quar_exp = 0
for expense in monthly_expense[:3]:
    first_quar_exp += expense.expense
print('Total expense in 1st quarter of the year: ', first_quar_exp)

Total expense in 1st quarter of the year:  7150

3. Find out if you spent exactly 2000 dollars in any month

In [4]:
exact_2000 = next((expense.month for expense in monthly_expense if expense.expense == 2000), None)

if exact_2000 is not None:
    print('Yes, I spent exactly 2000 dollars in ', exact_2000)
else:
    print('No, I did not spend exactly 2000 dollars in any month')

No, I did not spend exactly 2000 dollars in any month

 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [5]:
monthly_expense.append(MonthlyExpense('June', 1980))
display(monthly_expense)

[MonthlyExpense('January',2200),
 MonthlyExpense('February',2350),
 MonthlyExpense('March',2600),
 MonthlyExpense('April',2130),
 MonthlyExpense('May',2190),
 MonthlyExpense('June',1980)]

5. You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this

In [6]:
for expense in monthly_expense:
    if expense.month == 'April':
        expense.expense = 1930

display(monthly_expense)

[MonthlyExpense('January',2200),
 MonthlyExpense('February',2350),
 MonthlyExpense('March',2600),
 MonthlyExpense('April',1930),
 MonthlyExpense('May',2190),
 MonthlyExpense('June',1980)]

2. You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [7]:
heros=['spider man','thor','hulk','iron man','captain america']
print('1.length of the list: ', len(heros))

1.length of the list:  5

In [8]:
heros.append('black panther')
print("2. Add 'black panther' at the end of the list: ",heros)

2. Add 'black panther' at the end of the list:  ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [9]:
black_panther = heros.pop(-1)
hulk_ind = heros.index('hulk')
heros.insert(hulk_ind+1, black_panther)
print("3. remove black panther at the end and insert it after hulk: ", heros)

3. remove black panther at the end and insert it after hulk:  ['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [10]:
heros = [hero for hero in heros if hero not in ['thor', 'hulk']]
heros.append('doctor strange')

print('4. Remove thor & hulk and insert doctor strange: ', heros)

4. Remove thor & hulk and insert doctor strange:  ['spider man', 'black panther', 'iron man', 'captain america', 'doctor strange']

In [11]:
print(heros.sort()) # original list is modified and no new list created
print(sorted(heros)) # new list is created

None
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

3. Create a list of all odd numbers between 1 and a max number.
Max number is something you need to take from a user using input() function

In [13]:
while True:
    try:
        i = int(input('Please input a integer: '))
        print([num for num in range(1, i+1) if num % 2 != 0])
        break
    except ValueError:
        print('Invalid input !')

Please input a integer:  11

[1, 3, 5, 7, 9, 11]