In [27]:
class MonthlyExpense:
    def __init__(self, month, expense):
        self.month = month
        self.expense = expense

    def __repr__(self):
        #return f'MonthlyExpense('{self.month}',{self.amount})'
        return f"MonthlyExpense('{self.month}',{self.expense})"

monthly_expense = [
    MonthlyExpense('January', 2200),
    MonthlyExpense('February', 2350),
    MonthlyExpense('March', 2600),
    MonthlyExpense('April', 2130),
    MonthlyExpense('May', 2190),
]

1. In Feb, how many dollars you spent extra compare to January?

In [23]:
jan_exp = next((expense.expense for expense in monthly_expense if expense.month == 'January'), None)
feb_exp = next((expense.expense for expense in monthly_expense if expense.month == 'February'), None)

if jan_exp is not None and feb_exp is not None:
    extra = feb_exp - jan_exp
    print(extra, 'dollars were spent in Feb compare to Jan')

150 dollars were spent in Feb compare to Jan

2. Find out your total expense in first quarter (first three months) of the year.

In [24]:
first_quar_exp = 0
for expense in monthly_expense[:3]:
    first_quar_exp += expense.expense
print('Total expense in 1st quarter of the year: ', first_quar_exp)

Total expense in 1st quarter of the year:  7150

3. Find out if you spent exactly 2000 dollars in any month

In [25]:
exact_2000 = next((expense.month for expense in monthly_expense if expense.expense == 2000), None)

if exact_2000 is not None:
    print('Yes, I spent exactly 2000 dollars in ', exact_2000)
else:
    print('No, I did not spend exactly 2000 dollars in any month')

No, I did not spend exactly 2000 dollars in any month

 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [28]:
monthly_expense.append(MonthlyExpense('June', 1980))
display(monthly_expense)

[MonthlyExpense('January',2200),
 MonthlyExpense('February',2350),
 MonthlyExpense('March',2600),
 MonthlyExpense('April',2130),
 MonthlyExpense('May',2190),
 MonthlyExpense('June',1980)]

5. You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this

In [33]:
for expense in monthly_expense:
    if expense.month == 'April':
        expense.expense = 1930

display(monthly_expense)

[MonthlyExpense('January',2200),
 MonthlyExpense('February',2350),
 MonthlyExpense('March',2600),
 MonthlyExpense('April',1930),
 MonthlyExpense('May',2190),
 MonthlyExpense('June',1980)]